@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Outfit:wght@400;600&display=swap');

* {
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Outfit', sans-serif;
}

body {
    background: #000;
}

/* Transparent Header turns White Background with Black Text on Scroll */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px; 
    z-index: 100000;
}

header .logo img {
    position: relative;
    transition: 0.6s;
    display: block;
    max-width:230px;
    max-height:95px;        
    width: auto;
    height: auto;
}

.page-banner ul,
header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-banner ul li,
header ul li {
    position: relative;
    list-style: none;
    font-family: 'Outfit', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
}

.page-banner ul li a,
header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
}

header.sticky {
    padding: 5px 100px;
    background: #fff;
}

header.sticky .logo,
header.sticky ul li a {
    color: #000;
}

/* Hero Banner: Auto-play Video */
#hero-banner {
    height: 930px;
    display: block;
    overflow: hidden;
}

#hero-banner-vid {
    width: 100%;
}

.page-content,
#contact-form,
#get-ready-for-edg-vs-dk,
#finals-info {
    background-color:#fff;
}

.page-banner img,
#finals-info img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    width: 15%;
}

.page-banner {
    margin-top: 8%;
    padding-top: 60px;
}

.flex-container {
    display: flex;
    flex-flow: row;
}

.flex-container > p {
    width: 100%;
}

.split {
    margin: 15px;
    width: 50%;
    padding: 20px 250px;
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 60px;
    letter-spacing: 5px;
}

.align-right {
    text-align: right;
}

footer,
#cheer-for-team,
#meet-the-teams {
    color: #fff;
}

h2 {
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    font-size: 40px;
    padding-top: 10px;
}

#cheer-for-team,
#contact-form,
#team-desc p {
    text-transform: none;
    font-size: 20px;
    letter-spacing: normal;
    line-height: 2;
}

#team-desc.align-right p {
    text-align: left;
}

#team-desc.align-left p {
    text-align: right;
}

#find-out-more {
    color: grey;
    text-decoration: none;
}

#team-desc.align-right > h6 {
    margin: 0;
    text-align: left;
}

#team-desc.align-left > h6 {
    margin: 0;
    text-align: right;
}

#meet-the-teams .split {
    padding: 30px;
}

#team-img-left {
    min-width: 50%;
    margin-left: 5%;
}

#team-img-right {
    min-width: 50%;
    margin-right: 5%;
}

#team-desc.align-right {
    margin: auto;
    padding-left: 50px;
    margin-left: 50px;
}

#team-desc.align-left {
    margin: auto;
    padding-right: 50px;
    margin-right: 50px;
}

#get-ready-for-edg-vs-dk,
#contact-form 
h2 {
    padding-top: 30px;
}

form {
    display: block;
    margin: 0 auto;
    padding-bottom: 50px;
    max-width: 60%;
}

iframe {
    display: block;
    margin: 0 auto;
    padding-bottom: 50px;
    max-width: 80%;
}

#cheer-for-team p,
#contact-form p {
    margin-top: 0;
    text-align: center;
}

#contact-form h2 {
    margin-bottom: 0;
}

.scroll-top {
    text-align: center;
    padding: 30px;
    cursor: pointer;
    font-size: 20px;
}

.scroll-top:hover {
    text-decoration: underline;
}

hr {
    width: 90%;
}

#footer-logo-bar {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

#footer-logo-bar > img {
    margin: 30px 5px 20px 10%;
    padding: 0;
    max-height: 50px;
}

#copyright-info {
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 15px;
    text-align: right;
    font-family: 'Outfit', sans-serif;
    letter-spacing: normal;
    text-transform: none;
}

footer .split {
    margin: 20px 4.5% 20px 5px;
    padding: 0;
}

img#footer-logo-2 {
   margin-left: 12px; 
}

#social-media-bar {
    display: block;
    text-align: right;
}

#social-media-bar img {
    width: 30px;
    height: 30px;
}

#submit-button {
    padding: 7px;
    background-color: #000;
    color: #fff;
}

#submit-button:hover {
    cursor: pointer;
    background-color: #fff;
    color: #000;
}

form select, input, textarea {
    border-radius: 0;
    padding: 2px;
    background-color: #fff;
    border: 1px #000 solid;
}

form input, textarea {
    padding: 5px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

#news-header {
    background-color: #000;
    color: #fff;
}

#news-header.sticky .logo,
#news-header.sticky ul li a {
    color: #fff;
}

.publication-info {
    color: gray;
}

.news-article {
    border: 1px #000 solid;
    margin: 0 120px 50px 120px;
    padding: 20px;
}

.news-article p {
    line-height: 1.6;
    font-size: 20px;
}

.news-article-content,
#news-catalog {
    margin: 0;
    padding-bottom: 50px;
}

.news-article-content p {
    font-size: 20px;
}

.publication-heading {
    text-align: left;
}

.page-content {
    text-align: justify;
    line-height: 1.6;
}

.news-article-highlight-img {
    min-width: 100%;
}

.page-body {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.page-banner ul li a {
    color: #000;
}

.champs-spotlight h2,
.skills-intro h4,
.champs-split-right > h4,
.current-page {
    color: #CEAB5C !important;
}

.current-champion-cat {
    color: #CEAB5C !important; 
    text-decoration: underline !important;
    text-decoration-thickness: 2px !important;
}

.container {
    display: flex;
    width: 80%;
    background-color: #fff;
    flex-wrap: wrap;
    margin: 0 10%;
    padding: 20px 0 60px 0;
}

.flex-item {
    padding: 2%;
    flex-grow: 1;
    flex-basis: 15%;
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    margin: 20px 45px;
}

.flex-item h4 {
    text-transform: uppercase;
}

.flex-img img {
    max-width: 100%;
}

.flex-item a {
    text-decoration: none;
    color: #000;
}

.flex-info {
    margin-top: auto;
    text-align: center;
}

.row {
    display: flex;
    flex-direction: row;
}

.champions-info-content {
    background-image: url("../img/lcs-dragon.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.champions-page-banner {
    background-color: #000;
    opacity: 0.83;
}

.champions-info-content p, 
.champions-info-content h2 {
    color: #fff;
    text-align: center;
}

.champions-info-content p {
    font-size: 20px;
}

.successful-form-submission-msg {
    color: green;
}

.skills-container,
.champs-container {
    display: flex;
    flex-direction: row;
}

.skills-container {
    margin: 0 0 0 10%;
}

.skills-split-left {
    width: 3%;
}

.skills-split-left img {
    width: 110%;
}

.champs-split-left {
    margin: 0 0 0 10%;
    width: 40%;
}

.champs-split-right {
    display: block;
    margin: auto 10% auto 80px;
    width: 60%;
}

.champs-split-right h4, .champs-split-right p {
    text-align: left;
}

.champs-container img {
    width: 100%;
    background-size: cover;
}

.champs-spotlight h2 {
    font-size: 20px;
}

.champs-spotlight {
    margin-top: 80px;
}

.skills-intro h4,
.champs-split-right h4 {
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    margin: 0;
    padding: 0;
    padding-top: 10px;
}

.skills-intro h4 {
    margin: 30px 0 0 10%;
}

.champs-split-right p {
    margin: 0;
    padding: 0;
}

.skill-name,
p.skill-type {
    margin: 0;
    padding: 0;
    margin-top: 27px;
    text-align: left;
}

p.skill-type {
    color: #CEAB5C;
}

.skill-name {
    margin-top: 0;
}

.skills-split-right {
    margin-left: 20px;
}

p.skill-desc {
    text-align: left;
    margin-left: 10%;
}

.news-article a {
    text-decoration: none;
    color: #000;
}

#cheer-for-team p {
    margin: 0;
}

p#cheer-team-left {
    padding: 20px 30% 0 16%;
    font-size: 30px;
    font-family: 'Bebas Neue', cursive;
    line-height: normal;
}

p#cheer-team-right {
    padding: 20px 16% 0 30%;
    font-size: 30px;
    font-family: 'Bebas Neue', cursive;
    line-height: normal;
}

#cheer-for-team img {
    width: 50%;
    height: 150px;
    padding: 0;
    margin: 0;
}

img#cheer-team-left {
    padding: 0 28% 0 14%;
}

img#cheer-team-right:hover,
img#cheer-team-left:hover {
    cursor: pointer;
}

img#cheer-team-right {
    padding: 0 14% 0 28%;
}

div.edg-vs {
    width: 100%; 
    height: 20px; 
    background-color: #4b20c0;
}

div.dk-vs {
    width: 100%; 
    height: 20px; 
    background-color: #df274e;
}

div.vs-bar {
	display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding-top: 20px;
    width: 64%;
    margin: auto;
}

div.vs-left {
	justify-content: flex-start;
    width: 40%;
    height: 20px;
}	

div.vs-right {
	justify-content: flex-end;
    width: 60%;
    height: 20px;
}	

#meet-the-teams:target:before {
    content: "";
    display: block;
    height: 100px; /* fixed header height*/
    margin: -100px 0 0; /* negative fixed header height */
}

#cheer-for-team {
    min-height: 550px;
}

#contact-form:target:before {
    content: "";
    background-color: black;
    display: block;
    height: 100px; /* fixed header height*/
    margin: -100px 0 0; /* negative fixed header height */
}

@media 
only screen 
and (device-width : 375px) 
and (device-height : 812px) 
and (-webkit-device-pixel-ratio : 3) {
    .flex-container {
        flex-flow: column;
    }

    html,
    body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }

    header {
        width: 100%;
    }

    textarea {
        max-width: 100%;
    }

    #finals-info .flex-container {
        flex-flow: row;
    }

    #finals-info .split {
        width: 100%;
        padding: 0;
        margin: 40px 10%;
        font-size: 30px;
    }
}
